
@{
    ViewBag.Title = "Descripcion del Web Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<style>
    body {
        margin: 0;
    }

    iframe {
        display: block; /* iframes are inline by default */
        background: #ffffff;
        border: none; /* Reset default border */
        height: 100vh; /* Viewport-relative units */
        width: 50vw;
    }
</style>

<h4>Se puede testear el servicio con un cliente iniciando el proyecto desde Visual Studio, posicionandose sobre el archivo .svc</h4>
<p><b>A continuación, un iframe con la descripción del Web Service.</b></p>
<div id="serviceDescriptionXMLContainer">
    <iframe src="~/WebServices/ServiceAlumno.svc"/>
</div>

<script>
    serviceDescriptionXMLContainer.innerHtml = document.getElementById('serviceDescriptionXMLContainer').contentWindow.document;
</script>