@{
    ViewBag.Title = "Contact";
}
<h2>Contacto</h2>

<style>
    address > a{
        font-size: 19px;
    }
</style>

<address>
    Avenida Calchaquí al 2800<br />
    Florencio Varela, Bs. As., Argentina.<br />
    <abbr title="Teléfono">Teléfono celular:</abbr>
    +54 9 11 3036 7449
</address>

<address>
    <strong>Mail: </strong>   <a href="mailto:federicomdo97@gmail.com">federicomdo97@gmail.com</a><br />
    <strong>Redes: </strong><br />
    <a href="https://www.linkedin.com/in/federico-montes-de-oca/" target="_blank">LinkedIn</a>
    |
    <a href="https://github.com/FedeMDO" target="_blank">GitHub</a>
    |
    <a href="https://gitlab.com/FedeMDO" target="_blank">GitLab</a>
</address>