@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mini proyecto con tecnologías .NET</h1>
    <p class="lead">En este proyecto utilizo ASP.NET MVC, ASP.NET WebForms, Web Services, SQL-Server deployado en la Nube (AWS) y Entity Framework para hacer ABM de entidades (Alumnos). Estos "alumnos" se relacionan con ciudades.</p>
    <p><a href="https://github.com/FedeMDO/ASPNET-CRUDAlumnos" target="_blank"  class="btn btn-success btn-lg">Ir al repositorio en github.com &raquo;</a></p>
    <p><a href="https://linkedin.com/in/federico-montes-de-oca/" target="_blank" class="btn btn-primary btn-lg">LinkedIn &raquo;</a></p>
</div>
